* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tum2umian-logo {
  font-family: "Poppins", "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
  color: #f9faf8;
}

.tum2umian-logo span {
  font-weight: 900;
}

li {
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 0 10%;
}

ul {
    display: flex;
    gap: 16px;
}
.top {
    display: flex;
    align-items: center;
    padding: 18px 0;
    justify-content: space-between;
}
.hero-image {
    width: 500px;
    height: 267px;
}
.bottom {
    display: flex;
    align-items: center;
    padding: 28px 0 78px;
    justify-content: space-between;
}
.hero-main-text {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
    width: 400px;
}
.hero-secondary-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    width: 400px;
}
button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 35px;
    cursor: pointer;
    margin-top: 38px;
    font-weight: bold;
    font-size: large;
    
}
.image-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 38px 0;
}
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 78px;
    
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
.image {
    width: 160px;
}
.round {
    border-radius: 16px;
    border-style: solid;
    border-color: #3882f6;
}
.caption {
   text-align: center;
   color: rgb(80, 90, 100);
}
.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5% 20%;
}
.quote-message {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}
.quote-author {
    font-weight: bold;
    text-align: right;
    color: #11161e;
    font-size: larger;
}